.title {
  text-align: center;
  color: #464646;
  font-size: 32px;
  margin-top: 0;
}

.desc {
  color: #464646;
  text-align: center;
  margin-bottom: 0;
}

.layout {
  padding-left: 50px;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  background-color: #93d3fa;
}
